# Storing and Reading Products

In [53]:
import time
import json

In [54]:
time.ctime()

'Mon Sep  6 09:47:12 2021'

In [55]:
products={'5001':{'Name':'Chocolates Pack','Price':150,'Quantity':50,'Original Price':'170','Discount':'10%','Time':'Sun Sep  5 19:11:18 2021'},
          '5002':{'Name':'Colgate','Price':70,'Quantity':50,'Original Price':'90','Discount':'10%','Time':'Sun Sep  5 19:12:18 2021'},
          '5003':{'Name':'Lux','Price':70,'Quantity':50,'Original Price':'90','Discount':'10%','Time':'Sun Sep  5 19:13:18 2021'},
          '5004':{'Name':'Amul','Price':70,'Quantity':50,'Original Price':'90','Discount':'10%','Time':'Sun Sep  5 19:20:18 2021'},
          '5005':{'Name':'Horlicks','Price':80,'Quantity':50,'Original Price':'100','Discount':'10%','Time':'Sun Sep  5 20:28:18 2021'},
          '5006':{'Name':'Dettol','Price':210,'Quantity':50,'Original Price':'250','Discount':'10%','Time':'Sun Sep  5 20:36:18 2021'},
          '5007':{'Name':'Detergents','Price':200,'Quantity':50,'Original Price':'220','Discount':'10%','Time':'Sun Sep  5 21:20:18 2021'},
          '5008':{'Name':'Handwash','Price':90,'Quantity':50,'Original Price':'110','Discount':'10%','Time':'Sun Sep  5 22:01:18 2021'},
          '5009':{'Name':'Shampoo','Price':80,'Quantity':50,'Original Price':'100','Discount':'10%','Time':'Sun Sep  5 22:39:18 2021'},
          '5010':{'Name':'Hair Oil','Price':50,'Quantity':50,'Original Price':'70','Discount':'10%','Time':'Sun Sep  5 22:45:18 2021'},
          '5011':{'Name':'Mobile','Price':20000,'Quantity':50,'Original Price':'23000','Discount':'10%','Time':'Sun Sep  5 22:50:18 2021'},
          '5012':{'Name':'Laptop','Price':70000,'Quantity':50,'Original Price':'73000','Discount':'10%','Time':'Sun Sep  5 22:52:18 2021'},
          '5013':{'Name':'Ipad','Price':7000,'Quantity':50,'Original Price':'8000','Discount':'10%','Time':'Sun Sep  5 22:55:18 2021'},
          '5014':{'Name':'TV','Price':50000,'Quantity':50,'Original Price':'55000','Discount':'10%','Time':'Sun Sep  5 22:58:18 2021'}}

In [56]:
fd = open('record.json','r')
r= fd.read()
fd.close()

In [57]:
products=json.dumps(products)

In [58]:
fd = open('record.json','a')
r= fd.write(products)
fd.close()

In [59]:
products

'{"5001": {"Name": "Chocolates Pack", "Price": 150, "Quantity": 50, "Original Price": "170", "Discount": "10%", "Time": "Sun Sep  5 19:11:18 2021"}, "5002": {"Name": "Colgate", "Price": 70, "Quantity": 50, "Original Price": "90", "Discount": "10%", "Time": "Sun Sep  5 19:12:18 2021"}, "5003": {"Name": "Lux", "Price": 70, "Quantity": 50, "Original Price": "90", "Discount": "10%", "Time": "Sun Sep  5 19:13:18 2021"}, "5004": {"Name": "Amul", "Price": 70, "Quantity": 50, "Original Price": "90", "Discount": "10%", "Time": "Sun Sep  5 19:20:18 2021"}, "5005": {"Name": "Horlicks", "Price": 80, "Quantity": 50, "Original Price": "100", "Discount": "10%", "Time": "Sun Sep  5 20:28:18 2021"}, "5006": {"Name": "Dettol", "Price": 210, "Quantity": 50, "Original Price": "250", "Discount": "10%", "Time": "Sun Sep  5 20:36:18 2021"}, "5007": {"Name": "Detergents", "Price": 200, "Quantity": 50, "Original Price": "220", "Discount": "10%", "Time": "Sun Sep  5 21:20:18 2021"}, "5008": {"Name": "Handwash", "Price": 90, "Quantity": 50, "Original Price": "110", "Discount": "10%", "Time": "Sun Sep  5 22:01:18 2021"}, "5009": {"Name": "Shampoo", "Price": 80, "Quantity": 50, "Original Price": "100", "Discount": "10%", "Time": "Sun Sep  5 22:39:18 2021"}, "5010": {"Name": "Hair Oil", "Price": 50, "Quantity": 50, "Original Price": "70", "Discount": "10%", "Time": "Sun Sep  5 22:45:18 2021"}, "5011": {"Name": "Mobile", "Price": 20000, "Quantity": 50, "Original Price": "23000", "Discount": "10%", "Time": "Sun Sep  5 22:50:18 2021"}, "5012": {"Name": "Laptop", "Price": 70000, "Quantity": 50, "Original Price": "73000", "Discount": "10%", "Time": "Sun Sep  5 22:52:18 2021"}, "5013": {"Name": "Ipad", "Price": 7000, "Quantity": 50, "Original Price": "8000", "Discount": "10%", "Time": "Sun Sep  5 22:55:18 2021"}, "5014": {"Name": "TV", "Price": 50000, "Quantity": 50, "Original Price": "55000", "Discount": "10%", "Time": "Sun Sep  5 22:58:18 2021"}}'

In [60]:
record = json.loads(products)

In [61]:
record

{'5001': {'Name': 'Chocolates Pack',
  'Price': 150,
  'Quantity': 50,
  'Original Price': '170',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:11:18 2021'},
 '5002': {'Name': 'Colgate',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:12:18 2021'},
 '5003': {'Name': 'Lux',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:13:18 2021'},
 '5004': {'Name': 'Amul',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:20:18 2021'},
 '5005': {'Name': 'Horlicks',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:28:18 2021'},
 '5006': {'Name': 'Dettol',
  'Price': 210,
  'Quantity': 50,
  'Original Price': '250',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:36:18 2021'},
 '5007': {'Name': 'Detergents',
  'Price': 200,
  'Quantity': 50,
  'Original Price': '220',
  'Discount': '10%',
  'Time': 'Sun Sep  5 21:20:18 2021'},
 '5008': {'Name': 'Handwash',
  'Price': 90,
  'Quantity': 50,
  'Original Price': '110',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:01:18 2021'},
 '5009': {'Name': 'Shampoo',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:39:18 2021'},
 '5010': {'Name': 'Hair Oil',
  'Price': 50,
  'Quantity': 50,
  'Original Price': '70',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:45:18 2021'},
 '5011': {'Name': 'Mobile',
  'Price': 20000,
  'Quantity': 50,
  'Original Price': '23000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:50:18 2021'},
 '5012': {'Name': 'Laptop',
  'Price': 70000,
  'Quantity': 50,
  'Original Price': '73000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:52:18 2021'},
 '5013': {'Name': 'Ipad',
  'Price': 7000,
  'Quantity': 50,
  'Original Price': '8000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:55:18 2021'},
 '5014': {'Name': 'TV',
  'Price': 50000,
  'Quantity': 50,
  'Original Price': '55000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:58:18 2021'}}

# Adding New Item

In [62]:
id=str(input("Enter product id:"))
name=str(input("Enter product name:"))
price=int(input("Enter product price:"))
quantity=int(input("Enter product quantity:"))
discount=str(input("Enter product discount:"))
time1=time.ctime()

Enter product id:5015
Enter product name:Chairs
Enter product price:220
Enter product quantity:50
Enter product discount:10

In [63]:
record[id]={'Name':name,'Price':price,'Quantity':quantity,'Discount':discount,'Time':time1}

In [64]:
new = json.dumps(record)

In [65]:
fd = open('record.json','a')
fd.write(new)
fd.close()

In [66]:
record

{'5001': {'Name': 'Chocolates Pack',
  'Price': 150,
  'Quantity': 50,
  'Original Price': '170',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:11:18 2021'},
 '5002': {'Name': 'Colgate',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:12:18 2021'},
 '5003': {'Name': 'Lux',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:13:18 2021'},
 '5004': {'Name': 'Amul',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:20:18 2021'},
 '5005': {'Name': 'Horlicks',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:28:18 2021'},
 '5006': {'Name': 'Dettol',
  'Price': 210,
  'Quantity': 50,
  'Original Price': '250',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:36:18 2021'},
 '5007': {'Name': 'Detergents',
  'Price': 200,
  'Quantity': 50,
  'Original Price': '220',
  'Discount': '10%',
  'Time': 'Sun Sep  5 21:20:18 2021'},
 '5008': {'Name': 'Handwash',
  'Price': 90,
  'Quantity': 50,
  'Original Price': '110',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:01:18 2021'},
 '5009': {'Name': 'Shampoo',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:39:18 2021'},
 '5010': {'Name': 'Hair Oil',
  'Price': 50,
  'Quantity': 50,
  'Original Price': '70',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:45:18 2021'},
 '5011': {'Name': 'Mobile',
  'Price': 20000,
  'Quantity': 50,
  'Original Price': '23000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:50:18 2021'},
 '5012': {'Name': 'Laptop',
  'Price': 70000,
  'Quantity': 50,
  'Original Price': '73000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:52:18 2021'},
 '5013': {'Name': 'Ipad',
  'Price': 7000,
  'Quantity': 50,
  'Original Price': '8000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:55:18 2021'},
 '5014': {'Name': 'TV',
  'Price': 50000,
  'Quantity': 50,
  'Original Price': '55000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:58:18 2021'},
 '5015': {'Name': 'Chairs',
  'Price': 220,
  'Quantity': 50,
  'Discount': '10',
  'Time': 'Mon Sep  6 09:47:49 2021'}}

# Purchase Items

In [67]:
prod =str(input("Enter product id:"))
quan =int(input("Enter product quantity:"))

Enter product id:5006
Enter product quantity:6

In [68]:
print("********************************")
print("Bill Amount")
print('Products:', record[prod]['Name'])
print('Price of one product:', record[prod]['Price'])
print('Total Amount to be paid:', record[prod]['Price'] * quan)
print("********************************")

********************************
Bill Amount
Products: Dettol
Price of one product: 210
Total Amount to be paid: 1260
********************************

# Updating after purchase Items

In [69]:
record[prod]['Quantity'] = record[prod]['Quantity'] - quan

In [70]:
update=record[prod]['Quantity']

In [71]:
fd = open('record.json','w')
fd.write(str(update))
fd.close()

In [72]:
record[prod]

{'Name': 'Dettol',
 'Price': 210,
 'Quantity': 44,
 'Original Price': '250',
 'Discount': '10%',
 'Time': 'Sun Sep  5 20:36:18 2021'}

# Deleting Items

In [31]:
prod=str(input("Enter product id:"))
del record[prod]

Enter product id:5016

In [32]:
record

{'5001': {'Name': 'Chocolates Pack',
  'Price': 150,
  'Quantity': 50,
  'Original Price': '170',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:11:18 2021'},
 '5002': {'Name': 'Colgate',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:12:18 2021'},
 '5003': {'Name': 'Lux',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:13:18 2021'},
 '5004': {'Name': 'Amul',
  'Price': 70,
  'Quantity': 50,
  'Original Price': '90',
  'Discount': '10%',
  'Time': 'Sun Sep  5 19:20:18 2021'},
 '5005': {'Name': 'Horlicks',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:28:18 2021'},
 '5006': {'Name': 'Dettol',
  'Price': 210,
  'Quantity': 47,
  'Original Price': '250',
  'Discount': '10%',
  'Time': 'Sun Sep  5 20:36:18 2021'},
 '5007': {'Name': 'Detergents',
  'Price': 200,
  'Quantity': 50,
  'Original Price': '220',
  'Discount': '10%',
  'Time': 'Sun Sep  5 21:20:18 2021'},
 '5008': {'Name': 'Handwash',
  'Price': 90,
  'Quantity': 50,
  'Original Price': '110',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:01:18 2021'},
 '5009': {'Name': 'Shampoo',
  'Price': 80,
  'Quantity': 50,
  'Original Price': '100',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:39:18 2021'},
 '5010': {'Name': 'Hair Oil',
  'Price': 50,
  'Quantity': 50,
  'Original Price': '70',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:45:18 2021'},
 '5011': {'Name': 'Mobile',
  'Price': 20000,
  'Quantity': 50,
  'Original Price': '23000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:50:18 2021'},
 '5012': {'Name': 'Laptop',
  'Price': 70000,
  'Quantity': 50,
  'Original Price': '73000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:52:18 2021'},
 '5013': {'Name': 'Ipad',
  'Price': 7000,
  'Quantity': 50,
  'Original Price': '8000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:55:18 2021'},
 '5014': {'Name': 'TV',
  'Price': 50000,
  'Quantity': 50,
  'Original Price': '55000',
  'Discount': '10%',
  'Time': 'Sun Sep  5 22:58:18 2021'},
 '5015': {'Name': 'Chairs',
  'Price': 250,
  'Quantity': 50,
  'Discount': '10',
  'Time': 'Mon Sep  6 09:40:10 2021'}}

# Sales

In [109]:
{'ID' : prod, 'Quantity' : quan, 'Amount': record[prod]['Price'] * quan}

{'ID': '5006', 'Quantity': 6, 'Amount': 1260}

In [91]:
#sale={1 :{'ID' : prod, 'Quantity' : quan, 'Amount': record[prod]['Price'] * quan}}

In [111]:
sales={(len(sale.keys()) + 1): {'ID' :prod,'Name':record[prod]['Name'],'Quantity' : quan, 'Amount': record[prod]['Price'] * quan}}

In [112]:
sales1=json.dumps(sales)

In [113]:
fd1 =open("Sales.json",'a')
fd1.write(sales1)
fd1.close()

In [114]:
fd1.close()

In [115]:
fd1 =open("Sales.json",'r')
fd1.read()

'{"1": {"ID": "5014", "Quantity": 5, "Amount": 250000}}\n{"1": {"ID": "5006", "Quantity": 6, "Amount": 1260}}{"1": {"ID": "5006", "Quantity": 6, "Amount": 1260}}{"2": {"ID": "5006", "Name": "Dettol", "Quantity": 6, "Amount": 1260}}'